/* Fonts */
@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DMSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DMSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DMSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DMSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DMSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DMSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DMSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DMSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DMSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


:root{
    /* Primary colors */
    --purple-700: hsl(231, 57%, 7%);
    --purple-600: hsl(232, 57%, 22%);
    --purple-500: hsl(232, 57%, 40%);
    --purple-400: hsl(231, 57%, 50%);
    --purple-300: hsl(231, 56%, 60%);
    --purple-200: hsl(232, 57%, 75%);
    --purple-100: hsl(232, 57%, 90%);

    /* Secundary colors */
    --blue-700: hsl(225, 98%, 10%);
    --blue-600: hsl(225, 99%, 20%);
    --blue-500: hsl(225, 99%, 35%);
    --blue-400: hsl(225, 99%, 48%);
    --blue-300: hsl(225, 99%, 60%);
    --blue-200: hsl(225, 99%, 75%);
    --blue-100: hsl(225, 99%, 90%);

    /* Neutral colors */
    --grey-700: hsl(0 0% 0%); 
    --grey-600: hsl(240 2% 10%);
    --grey-500: hsl(220 3.9% 15.1%);
    --grey-400: hsl(210 3.7% 21.2%); 
    --grey-300: hsl(210 3.9% 40%);
    --grey-200: hsl(213 3.9% 55.1%);
    --grey-100: hsl(214 4.6% 70%);

    --light-100:hsl(0, 0%, 100%);
    --light-muted:hsl(0, 0%, 80%);

    --component-background: hsl(0, 0%, 100%, 4%);

    /* Strokes */

    --button-border:hsl(0, 0%, 100%, 5%);
    --components-border:hsl(226, 39%, 6%, 5%);

    /* Border radius */
    --button-border-radius: 11px;
    --main-border-radius:20px;
}

*, *::before, *::after { box-sizing: border-box; }

html, body {
  font-family: 'DMSans', sans-serif;
  margin: 0;
  padding: 0;
}

body{
    background: var(--purple-700);
    padding: 0 35px;

    @media (min-width:768px){
      padding:0 100px;
    }

    @media (min-width:1024px){
      padding:0 150px;
    }
}
/* ===== Text styles ===== */
h1,h2,h3,h4{
  color: var(--light-100);
}

h1{
  font-size: clamp(2rem, 3vw + 1rem, 4rem);
  font-weight: 700;
}

h2{
  font-size: 1.5rem;
}

p{
  color: var(--light-muted);
}

/* ===== Button styles ===== */
a{
  text-decoration: none;
  color: var(--light-100);

}

.main-button{
  background: var(--blue-400);
  font-weight: 500;
  padding:10px 25px;
  border-radius: var(--button-border-radius);
  transition: transform 0.2s ease, background-color 0.2s ease;

  &:hover{
    transform: scale(1.02) ;
    background:var(--blue-500);
  }
}

.secondary-button{
  border-radius: var(--button-border-radius);
  padding:10px 25px;
  background: var(--component-background);  
  border:1px solid var(--button-border)

}